rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for the subjects collection
    match /subjects/{subject} {
      allow read: if (resource.data.premade && hasStandardPlan()) || request.auth.uid == resource.data.uid;
      // allow write: if (request.data.premade && request.auth.token.admin == true) || (request.auth.uid == resource.data.uid && !resource.data.premade);
      allow create: if (request.resource.data.premade && request.auth.token.admin) || (request.auth.uid == request.resource.data.uid && !request.resource.data.premade);
      allow update: if (request.resource.data.premade && resource.data.premade && request.auth.token.admin) || (request.auth.uid == resource.data.uid && request.auth.uid == request.resource.data.uid);
      allow delete: if (resource.data.premaed && request.auth.token.admin) || (request.auth.uid == resource.data.uid && !resource.data.premade);
      // allow create, update, delete;
    }
    
    // Rules for the grades collection
    match /grades/{grade} {
      allow read, delete: if request.auth.uid == resource.data.uid;
      allow write: if request.auth.uid == request.resource.data.uid;
      allow update: if request.auth.uid == resource.data.uid && request.auth.uid == request.resource.data.uid;
    }

    // Functions for subscription
    function hasStandardPlan() {
      return request.auth.token.stripeRole == "standard";
    }

    function hasBasicPlan() {
      return request.auth.token.stripeRole == "basic";
    }

    function hasSubscription() {
      return hasStandardPlan() || hasBasicPlan();
    }
    
    // Rules for stripe
    match /customers/{uid} {
      allow read: if request.auth.uid == uid;

      allow update: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
  }
}